- name: Install ch9344 driver
  hosts: all
  become: yes
  gather_facts: yes
  vars_prompt:
      - name: "use_local_submodule"
        prompt: "Use local submodule to install ch9344 ? (yes, no)"
        default: "no"
        private: no

  tasks:
      - name: Clone ch9344 driver
        block:
            - file:
                  path: /opt/ch9344ser_linux
                  state: absent
            - git:
                  repo: https://github.com/davidliyutong/ch9344ser_linux
                  dest: /opt/ch9344ser_linux
                  force: yes
        when: use_local_submodule | lower != 'yes'

      - name: Upload ch9344 driver from local
        synchronize:
            src: ../../third_party/ch9344ser_linux
            dest: /opt/
            perms: yes
        when: use_local_submodule | lower == 'yes'

      - name: Install ch9344 driver
        shell: make install
        args:
            chdir: /opt/ch9344ser_linux/driver
            creates: /usr/lib/modules/$(uname -r)/kernel/drivers/usb/serial/ch341.ko.xz